.header-row {
  margin: 0 auto;
  max-width: 1200px;
}
.appGrid {
  min-height: 100% !important;
}
.contentWrapper {
  margin: 0 auto;

  .content {
    width: 1200px;
    max-width: 1200px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
  }
}
